.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formField {
    width: 100%;
    padding-left: 10px;
}

.error {
    color: red;
}